# Multiple Linear Regression

In [1]:
#importing Required libraries4
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn import linear_model

# Loading The Data

In [2]:
data=pd.read_csv(r"C:\Users\sivak\Downloads\archive.zip")

In [3]:
#head () function is used to access the first n rows of a dataframe or series
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [4]:
x=data.drop(["Profit","State"],axis=1).values
y=data["Profit"].values

# Split Dataset Into Training Set And Test Set

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [7]:
x_train.shape,x_test.shape

((35, 3), (15, 3))

# Fitting The Model

In [9]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [12]:
y_pred1=reg.predict(x_train)
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print(f'Performance of the model on training data :\n')
print(f'Mean_Absolute_Error={mean_absolute_error(y_train,y_pred1)}')

print(f'Mean_Squared_Error = {mean_squared_error(y_train, y_pred1)}')
print(f'Root_Mean_Squared_Error = {np.sqrt(mean_squared_error(y_train, y_pred1))}')
print(f'R2_Score = {r2_score(y_train, y_pred1)}')

Performance of the model on training data :

Mean_Absolute_Error=5791.153179349691
Mean_Squared_Error = 52688056.58390673
Root_Mean_Squared_Error = 7258.653909913789
R2_Score = 0.9633641825622368

In [13]:
y_pred2=reg.predict(x_test)
print(f'Performance of the model on test data :\n')
print(f'Mean_Absolute_Error = {mean_absolute_error(y_test, y_pred2)}')
print(f'Mean_Squared_Error = {mean_squared_error(y_test, y_pred2)}')
print(f'Root_Mean_Squared_Error = {np.sqrt(mean_squared_error(y_test, y_pred2))}')
print(f'R2_Score = {r2_score(y_test, y_pred2)}')

Performance of the model on test data :

Mean_Absolute_Error = 8421.494888127263
Mean_Squared_Error = 142927396.96972513
Root_Mean_Squared_Error = 11955.224672490482
R2_Score = 0.9240267928295799